body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-left: 100px;
    padding: 0;
    justify-content: left;
    align-items: left;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    body {
        margin-left: 10px; /* Smaller left margin for narrow screens */
    }
}

.container {
    text-align: left;
    width: 60%;
}

.parameter {
    margin: 40px 0;
}

input[type=range] {
    width: 70%;
    vertical-align: left;
}

input[type=range]:focus {
    outline: none;
}

span {
    display: inline-block;
    width: 50px;
}

button {
    padding: 20px 30px;
    margin-right: 15px;
}

header {
    background-image: url('images/auditory streaming main heading.jpg'); /* Update with your image path */
    background-size: cover; /* Ensures the image covers the entire header */
    background-position: center; /* Centers the image in the header */
    width: 80%;
    height: 300px; /* Adjust the height as desired */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}

.header-content {
    text-align: center;
    color: white; /* Adjust text color for visibility */
    /* Add more styling as needed */
}

.main-content {
    padding: 40px;
}
