body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 60%;
}

.parameter {
    margin: 30px 0;
}

input[type=range] {
    width: 70%;
    vertical-align: middle;
}

input[type=range]:focus {
    outline: none;
}

span {
    display: inline-block;
    width: 50px;
}

button {
    padding: 10px 20px;
    margin-right: 15px;
}

header img {
    width: 100%; /* Makes the image full width */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes any extra space below the image */
}
