body {
    font-family: Arial, sans-serif;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 300px;
    padding: 0;
    justify-content: left;
    align-items: left;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    body {
        margin-left: 10px; /* Smaller left margin for narrow screens */
    }
}

.container {
    text-align: left;
    width: 80%;
}

.parameter {
    margin: 12px 0;
}

input[type=range] {
    width: 50%;
    vertical-align: left;
}

input[type=range]:focus {
    outline: none;
}

span {
    display: inline-block;
    width: 10px;
}

button {
    padding: 50px 50px;
    margin-right: 15px;
}

header {
    background-image: url('images/auditory streaming main heading.jpg'); /* Update with your image path */
    background-size: 100% auto; /* Ensures the image covers the entire header */
    background-position: left; /* Centers the image in the header */
    background-repeat: no-repeat;
    width: 90%;
    height: 200px; /* Adjust the height as desired */
    justify-content: left; /* Centers content horizontally */
    align-items: left; /* Centers content vertically */
}

.header-content {
    text-align: left;
    color: white; /* Adjust text color for visibility */
    /* Add more styling as needed */
}

.main-content {
    padding: 10px;
}

.slider-container {
    padding-bottom: 20px; /* Adjust this value as needed */
}

.text-block {
    margin-bottom: 30px; /* Adjust the value as needed for space */
}

.button-container {
    position: absolute;
    right: 100px;
    bottom: -20px;
}
    /* top: 870px;
/* } */